* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 10px;
    width: 90px;
    height: 30px;
    border: dashed;
    background-color: greenyellow;
    margin-left: 10px;
}

.btn1 {
    width: 90px;
    height: 30px;
    border: dotted;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 10px;
    width: 90px;
    height: 30px;
    background-color: gold;
    margin-left: 10px;
}

.btn2 {
    width: 90px;
    height: 30px;
    border: dotted;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 10px;
    width: 90px;
    height: 30px;
    background-color: rgb(234, 232, 232);
    margin-left: 10px;
}

.btn3 {
    width: 90px;
    height: 30px;
    border: dotted;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 10px;
    width: 90px;
    height: 30px;
    background-color: rgb(4, 244, 180);
    margin-left: 10px;
}

.img-title {
    display: flex;
}